<div ng-cloak>
    <legend>Finish this Job</legend>

    <div ng-class="job.panelClass">
        <div class="panel-heading">
            <h3 class="panel-title">#{{$index+1}} {{job.statusdesc}} - {{job.title}}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12"><progressbar class="progress-striped active"
                                                    value="job.progressbarvalue"
                                                    type="{{job.progressbartype}}"></progressbar></div>
            </div>
            <h4>Job Details</h4>
            <table class="table table-bordered">
                <tbody>
                <tr>
                    <td>Request #</td>
                    <td>{{job.requestnum}}</td>
                    <td>Date Requested</td>
                    <td>{{job.daterequested | date:'MM/dd/yyyy hh:mm a'}}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td colspan="3">
                        <p>
                            {{job.description}}
                        </p>
                    </td>
                </tr>

                <tr>
                    <td>Requested By</td>
                    <td> {{job.requestedby}}</td>
                    <td>Current Status</td>
                    <td><strong ng-class="job.statusClass">{{job.statusdesc}}</strong></td>

                </tr>
                </tbody>
            </table>
            <jobstatus job="job"></jobstatus>

            <div class="form-horizontal" style="padding: 15px">
                <div class="form-group">
                    <label class="control-label">Date Finished and Turned Over to the Requester</label>
                    <p class="input-group" style="width: 300px">
                        <input type="text"
                               datepicker-popup="MM-dd-yyyy"
                               datepicker-append-to-body="true"
                               class="form-control"
                               ng-model="param.dateFinished"
                               is-open="param.dateFinishedopened"
                               close-text="Close"
                                />
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default"
                                ng-click="openDateDialog($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                    </p>
                </div>



                    <div class="form-group">
                        <label class="control-label">Remarks</label>
                        <textarea
                                class="form-control"
                                ng-model="param.remarks"
                                rows="4"></textarea>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success btn-sm" ng-click="finished(job)">Finished/Job Request is Implemented</button>
                    <button type="button" class="btn btn-primary btn-sm" ui-sref="jobs">Back to List</button>

                </div>
                <div class="clearfix"></div>
            </div>
         </div>
     </div>

</div>