<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Change [{{user.login}}] Password</h2>


            <form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>

                <div class="form-group">
                    <label>New password</label>
                    <input type="password" class="form-control" name="password" placeholder="New Password"
                           ng-model="param.newpassword" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required" >
                            Your password is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength" >
                            Your password is required to be at least 5 characters
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength" >
                            Your password cannot be longer than 50 characters
                        </p>
                    </div>
                    <password-strength-bar password-to-check="password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label>New password confirmation</label>
                    <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password"
                           ng-model="param.confirmpassword" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            Your password confirmation is required.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength" >
                            Your password confirmation is required to be at least 5 characters
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength" >
                            Your password confirmation cannot be longer than 50 characters
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
